body{
    background-image:url(../resources/register_background.jpg);
    background-size:cover;
    background-position: center;
}
.form{
    position: relative;
    background:orange;
    max-width: 360px;
    margin: 50px auto 100px;
    padding:45px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}
.input{
    font-family: sans-serif;
    outline: 1;
    background:white;
    width: 100%;
    border: 0;
    margin: 0 0 20px 0;
    padding: 15px;
    box-sizing: 15px;
    border-radius: 5px 5px 5px 5px;
}
.button{
    font-family: sans-serif;
    font-size: 20px;
    background: darkblue;
    color:white;
    width: 50%;
    border: 0;
    padding: 15px;
    cursor:pointer;
    border-radius: 5px 5px 5px 5px;   
    margin-bottom:50px;
}
.button:hover{
    color:white;
    opacity: 0.7;
}
.text{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
}

.goto_register{
    color:beige;
    font-size: 15px;;
}

.goto_register:hover{
    color:darkblue;
    opacity: 0.7;
}

