
<form action="http://localhost/2019_IB153l_Film/php/alterepisode.php" method="POST" accept-charset="utf-8">
	<input type="text" name="filmid" value="1" hidden="">
	<span>Series</span>
	<select name="seriesid">
	<option value="1" selected="">Breaking Bad</option>
	<option value="2">Game of Thrones</option>
	<br>
	<span>Season</span>
	<input type="text" name="season" value="1">
	<br>
	<input type="submit" name="Edit episode">
</form>
<a href="http://localhost/2019_IB153l_Film/pages/film.php?fid=1">Go back</a>