
<h1>asd dsa</h1>
<p>2040-11-12</p>
<img src="../resources/img/nopicture.png"/>
<br />
Directs:
<br /><a href="film.php?fid=1">The Shawshank Redemption (1994)</a>
<br />
Writers:
<p>...</p>
<br />
Stars:
<p>...</p>
<br />
<form action="personform.php" method="POST" accept-charset="utf-8">
<input type="text" name="pid" value="1" hidden/>
<input type="submit" name="" value="Edit"/>
</form>
<form action="../php/alterperson.php" method="POST" accept-charset="utf-8">
<input type="text" name="pid" value="1" hidden/>
<input type="text" name="delete" value="true" hidden />
<input type="submit" name="" value="Delete"/>
</form>