
<form action="http://localhost/2019_IB153l_Film/php/alterperson.php" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
<input type="text" name="pid" value="1" hidden="">
<span>Firstname</span>
<input type="text" name="firstname" value="asd">
<br>
<span>Lastname</span>
<input type="text" name="lastname" value="dsa">
<br>
<span>Birthdate</span>
<input type="text" name="birthdate" value="2040-11-12">
<br>
<input type="file" name="image" accept="image/png, image/jpeg">
<br>
<img src="./2019_IB153l_Film_files/nopicperson.png">
<input type="submit" name="Edit person"></form>