
<form action="http://localhost/2019_IB153l_Film/php/alterrole.php" method="POST" accept-charset="utf-8">
<input type="text" name="filmid" value="1" hidden="">
<span>Role type</span>
<select name="roletype">
<option value="Plays">Actor</option>
<option value="Directing">Director</option>
<option value="Writing">Writer</option></select>
<input type="checkbox" name="star">
<span>Starring
<sup>Only for Actor</sup></span>
<br>
<span>Person</span>
<select name="humanid">
<option value="1">asd dsa</option></select>
<br>
<input type="submit" name="Add role"></form>
<a href="http://localhost/2019_IB153l_Film/pages/film.php?fid=1">Go back</a>