
<form action="seriesform.php" method="POST" accept-charset="utf-8">
<input type="text" name="seriesid" value="1" hidden/>
<input type="submit" name="" value="Edit"/>
</form>
<form action="../php/alterseries.php" method="POST" accept-charset="utf-8">
<input type="text" name="seriesid" value="1" hidden/>
<input type="text" name="delete" value="true" hidden />
<input type="submit" name="" value="Delete"/>
</form>
<h1><a href="seria.php?sid=1">Breaking Bad</a></h1>
<img src="../resources/img/nopicture.png.png"/>
<br />
<p>Number of seasons: 1</p>
<br />
<p>Season 1</p>
<p>
<a href="film.php?fid=227">Pilot</a>
<br />
<a href="film.php?fid=228">Cat's in the Bag...</a>
<br />
<a href="film.php?fid=229">...And the Bag's in the River</a>
<br />
<a href="film.php?fid=230">Cancer Man</a>
<br />
<a href="film.php?fid=231">Gray Matter</a>
<br />
<a href="film.php?fid=232">Crazy Handful of Nothin'</a>
<br />
<a href="film.php?fid=233">A No-Rough-Stuff-Type Deal</a>
<br />
<a href="film.php?fid=1">The Shawshank Redemption</a>
<br />
</p>
<br />
<h1 style="border-style: dotted;">admin</h1>
<form action="commentform.php" method="POST" accept-charset="utf-8">
<input type="text" name="userid" value="1" hidden/>
<input type="text" name="type" value="series" hidden/>
<input type="text" name="cid" value="1" hidden/>
<input type="submit" name="" value="Edit"/>
</form>
<form action="../php/altercomment.php" method="POST" accept-charset="utf-8">
<input type="text" name="delete" value="true" hidden />
<input type="text" name="type" value="series" hidden/>
<input type="text" name="cid" value="1" hidden/>
<input type="text" name="delete" value="true" hidden />
<input type="submit" name="" value="Delete"/>
</form>
<img src="../resources/img/nopicture.png"/>
<p>2019-11-27 18:26:06</p>
<p>asdasd</p>
<hr /><form action="commentform.php" method="POST" accept-charset="utf-8"><input type="text" name="tid" value="1" hidden /><input type="text" name="userid" value="1" hidden /><input type="text" name="type" value="series" hidden /><input type="submit" name="" value="New comment"/></form>